

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


<app-header></app-header>
<app-world-cup></app-world-cup>
<app-resultat></app-resultat>
<app-news></app-news>
<app-next-match></app-next-match>
<app-videos></app-videos>
<app-our-blog></app-our-blog>
<app-footer></app-footer>
<app-signup></app-signup>



  </div>
  <!-- .site-wrap -->

  