
    <div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-9 mx-auto text-center">
              <h1 class="text-white">Add-Player </h1>
            </div>
          </div>
        </div>
      </div>
  
      
      <div class="site-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <form [formGroup] ='addplayerform'>
                <div class="form-group">
                  <input type="text" class="form-control"  formControlName='PlayerName' placeholder="player Name">
                </div>
                <div *ngIf='addplayerform.controls["PlayerName"].invalid && 
                (addplayerform.controls["PlayerName"].dirty || addplayerform.controls["PlayerName"].touched)'>
                  <div *ngIf="addplayerform.controls['PlayerName'].errors.required" class="text-danger">
                    player Name is required
                  </div>
                  <div *ngIf="addplayerform.controls['PlayerName'].errors.minlength" class="text-danger">
                    player Name must have at least 5 chars
                  </div>
                </div>
                <div class="form-group">
                <input type="number" class="form-control" formControlName='NumPlayer' placeholder="N° Player">
                </div>
                <div *ngIf='addplayerform.controls["NumPlayer"].invalid && 
                (addplayerform.controls["NumPlayer"].dirty || addplayerform.controls["NumPlayer"].touched)'>
                  <div *ngIf="addplayerform.controls['NumPlayer'].errors.required" class="text-danger">
                    N°Player is required
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control"formControlName='PostePlayer' placeholder="Poste Player" >
                </div>
                <div *ngIf='addplayerform.controls["PostePlayer"].invalid && 
                (addplayerform.controls["PostePlayer"].dirty || addplayerform.controls["PostePlayer"].touched)'>
                  <div *ngIf="addplayerform.controls['PostePlayer'].errors.required" class="text-danger">
                    Poste Player is required
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control"formControlName='TeamPlayer'  placeholder="Team Player">
                </div>
                <div *ngIf='addplayerform.controls["TeamPlayer"].invalid && 
                (addplayerform.controls["TeamPlayer"].dirty || addplayerform.controls["TeamPlayer"].touched)'>
                  <div *ngIf="addplayerform.controls['TeamPlayer'].errors.required" class="text-danger">
                    Team Player is required
                  </div>
                </div>
                
                <div class="form-group">
                  <button class="btn btn-primary py-3 px-5" (click)="addPlayer()" >  Add-Player </button>
                </div>
              </form>  
            </div>
           
          </div>
        </div>
      </div>
  
  